﻿@charset "utf-8";
/*公共*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
fieldset, img { border: 0; }
/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }

*{padding:0px; margin:0px;font-family: Microsoft Yahei,Arial, Helvetica, sans-serif;}
code, kbd, samp, tt { font-size: 100%; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {  *font-size: 100%;}
body { line-height: 1.5; }
ol, ul { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
/* remember to highlight anchors and inserts somehow! */
:link, :visited { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/*html5 element*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, dialog, time, mark, audio, video { margin:0; padding:0; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display:block; }
/*clearfix ff */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
*html .clearfix { height: 1%; }
.clearfix { display: block; } 
/* End hide from IE-mac */

.float_l{float:left;}
.float_r{float:right;}
.mar_top10{margin-top:10px;}

/*头部*/
.header_box{height:88px;background:url(../images/head_bg.jpg) repeat-x;}
.header_box *{font-family:Arial, Helvetica, sans-serif, Microsoft Yahei;}
.logo{width:264px;height:50px;padding:19px 0 19px 10px;background:url(../images/logo_bg.jpg) no-repeat;}
.head_r{width:193px;height:78px;padding-top:10px;background:url(../images/head_rbg.jpg) no-repeat;}
.head_r p{height:30px;line-height:30px;color:#fff;font-size:12px;}
.head_r p a{color:#fff;font-size:12px;margin:0 6px;}
.head_r p a:hover{color:#fff;text-decoration:underline;}
.head_r .head_radmin{height:30px;width:160px;background:url(../images/head_r2.png) no-repeat;}
.head_r .head_radmin div{position:relative;height:30px;line-height:30px;width:130px;background:url(../images/admin.png) 10px center no-repeat;font-size:14px;color:#b8ceda;padding-left:30px;}
.head_r .head_radmin div a{width:34px;font-size:14px;color:#b8ceda;top:0;display:block;position:absolute;right:30px;line-height:30px;}
.head_r .head_radmin div i{font-style:normal;font-weight:bold;top:6px;right:10px;position:absolute;display:block;height:18px;width:20px;background:url(../images/head_r3.png) no-repeat;font-size:12px;color:#fff;text-align:center;line-height:18px;}
.menu_box ul li{float:left;height:88px;width:92px;}
.menu_box ul li a{display:block;height:78px;padding-top:10px;width:92px;text-align:center;}
.menu_box ul li a p{font-size:12px;color:#fff;height:20px;line-height:20px;}
.menu_box ul li a:hover{background:#00acd6;}
.menu_box ul li a.on{background:url(../images/navbg.png) no-repeat;}
/* 横向滚动
------------------------------ */
#pic_list_1{position:relative;width:540px;height:88px; float:left}
#pic_list_1 .box{overflow:hidden;position:relative;width:460px;height:88px;margin:0 auto;}
#pic_list_1 .list{overflow:hidden;width:9999px;}
#pic_list_1 .list li{float:left;width:92px; height:88px}
#pic_list_1 .prev,
#pic_list_1 .next{position:absolute;top:50%;margin-top:-25px;width:20px;height:50px;background-image:url(../images/control.png);background-repeat:no-repeat;font:0/0 Arial;cursor:pointer;}
#pic_list_1 .prev{left:5px;background-position:0 0;}
#pic_list_1 .next{right:5px;background-position:-20px 0;}
#pic_list_1 .prev:hover{background-position:0 -50px;}
#pic_list_1 .next:hover{background-position:-20px -50px;}


/*左侧菜单*/
.center_left{width:186px;background:#F6F5F5;border-right:1px solid #D7D5D5;}
.center_left *{font-family:Microsoft Yahei, Arial, Helvetica, sans-serif;}
.left_tit{font-size:16px;color:#fff;height:40px;line-height:40px;background:url(../images/lefttop.gif) repeat-x;}
.left_tit i{background:url(../images/leftico.png) no-repeat;float:left;height:19px;margin-left:10px;margin-right:10px;margin-top:11px;width:19px;}
.left_menu_box{background:#EDF6FA;}
.left_menu_box a{display:block;height:35px;line-height:35px;font-size:14px;color:#333;background:url(../images/leftmenubg.gif) repeat-x;}
.left_menu_box a.on{color:#3186c8;}
.left_menu_box a i{background:url(../images/icon07.png) no-repeat;float:left;height:7px;margin-left:10px;margin-right:10px;margin-top:15px;width:7px;}
.left_menu_box .ul_left{display:none;}
.left_menu_box .ul_left li{line-height:30px;}
.left_menu_box .ul_left li a{display:block;height:30px;line-height:30px;font-size:12px;color:#333;background:none;}
.left_menu_box .ul_left li a:hover{background:url(../images/libg.png) no-repeat;color:#3186c8;}
.left_menu_box .ul_left li a i{background:url(../images/list.gif) no-repeat;float:left;height:16px;margin-left:10px;margin-right:10px;margin-top:7px;width:16px;}
.left_menu_box .ul_left li a.on,.left_menu_box .ul_left li a:hover i{background:url(../images/list1.gif) no-repeat;}
.left_menu_box .ul_left li div{background:#fff;}
.left_menu_box .ul_left li div a{display:block;height:30px;line-height:30px;background:url(../images/icon08.png) 34px center no-repeat #fff;padding-left:45px;}
.left_menu_box .ul_left li div a.on,.left_menu_box .ul_left li div a:hover{background:url(../images/icon08.png) 34px center no-repeat #efefef;color:#3186c8;}

/*右侧表单页*/
.location_box{text-indent:10px;font-size:12px;height:39px;line-height:39px;background:#EDF6FA;color:#A0B7C1;border-bottom:1px solid #D7E4EA;}
.location_box b,.location_box a,.location_box span{color:#000;}
.location_box a:hover{color:#3186c8;text-decoration:underline;}
.right_con{padding:10px 18px;}
.right_tit{border-bottom:1px solid #d0dee5;height:35px;line-height:35px;position:relative;}
.right_tit b{border-bottom:3px solid #66c9f3;font-size:14px;font-weight:bold;height:30px;line-height:30px;padding:0 5px;left:0;position:absolute;bottom:-1px;}
.form_box{margin-top:28px;padding-left:23px;}
.form_table{width:90%;}
.form_table th{text-align:right;line-height:44px;vertical-align:text-top;font-size:12px;padding-right:20px;}
.form_table th .redfont{color:red;font-size:12px;line-height:46px;}
.form_table td{line-height:44px;font-size:12px;}
.forminput{background:url(../images/inputbg.gif) repeat-x;border-color:#a7b5bc #ced9df #ced9df #a7b5bc;border-style:solid;border-width:1px;height:32px;line-height:32px;padding:0 2%;width:90%;}
.form_table td p{color:#7f7f7f;}
.formselect{border:0;background:url(../images/inputbg.gif) repeat-x;width:90%;border-color:#a7b5bc #ced9df #ced9df #a7b5bc;border-style:solid;border-width:1px;font-size:12px;padding-left:2%;height:32px;line-height:32px;}
.formradio,.formcheckbox{margin-right:4px;}
.formtextarea{margin-top:10px;background:url(../images/inputbg.gif) repeat-x;border-color:#a7b5bc #ced9df #ced9df #a7b5bc;border-style:solid;border-width:1px;height:135px;line-height:20px;padding:10px;width:90%;resize:none;}
.formbtn1{height:36px;margin-top:14px;width:140px;background:#0298BD;border-radius:3px;border:0;cursor:pointer;color:#fff;font-size:14px;font-weight:bold;text-align:center;}

/*底部*/
.foot_box{background:#f0f9fd;border-top:1px solid #c2d2d7;color:#98a4a9;height:30px;line-height:30px;}
.foot_box span{font-size:12px;background:url(../images/info.png) no-repeat scroll 11px 8px;display:block;float:left;padding-left:35px;}
.foot_box i{background:url(../images/fjt.png) no-repeat scroll right center;font-size:12px;display:block;float:right;font-style:normal;margin-right:10px;padding-right:12px;}

/*列表*/
.tablelist{border:solid 1px #cbcbcb; width:100%; clear:both;}
.tablelist th{font-size:12px;font-weight:bold;background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2; text-indent:11px; text-align:left;}
.tablelist td{font-size:12px;line-height:35px; text-indent:11px; border-right: dotted 1px #c7c7c7;}
.tablelink{color:#056dae;}
.tablelink:hover{color:#056dae;text-decoration:underline;}
.tablelist tbody tr.odd{background:#f5f8fa;}
.tablelist tbody tr:hover{background:#e5ebee;}
.table_seach{padding:10px 0;}
.btn1{padding-left:10px;display:block;height:35px;width:65px;background:url(../images/btn1.jpg) no-repeat;font-size:12px;color:#333;line-height:35px;}
.btn1 img{vertical-align:middle;}
.table_seach div.float_l a.btn1{margin-right:5px;}
.table_seach div.float_r a.btn1{margin-left:5px;}
.table_searchcon *{font-size:12px;line-height:35px;}
.table_searchcon b{color:#000;}
.searchinput{vertical-align:middle;background:url(../images/inputbg.gif) repeat-x;border-color:#a7b5bc #ced9df #ced9df #a7b5bc;border-style:solid;border-width:1px;height:30px;line-height:30px;padding:0 10px;width:120px;}
.btn2{height:32px;width:96px;cursor:pointer;background:#0298BD;border-radius:3px;line-height:20px;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;border:0;}
.searchselect{vertical-align:middle;border:0;background:url(../images/inputbg.gif) repeat-x;border-color:#a7b5bc #ced9df #ced9df #a7b5bc;border-style:solid;border-width:1px;height:32px;line-height:32px;padding:4px;width:120px;}

/*翻页*/
.pagin{font-size:12px;position:relative;margin-top:10px;padding:0 12px;background:url(../images/fjt.png) left center no-repeat;}
.pagin .blue{color:#056dae;font-style:normal;}
.pagin .paginList{position:absolute;right:12px;top:0;}
.pagin .paginList .paginItem{float:left;}
.pagin .paginList .paginItem a{float:left;width:31px;height:28px;border:1px solid #DDD; text-align:center;line-height:30px;border-left:none;color:#3399d5;}
.pagin .paginList .paginItem:first-child a{border-left:1px solid #DDD;}
.pagin .paginList .paginItem:first-child a{border-bottom-left-radius:5px;border-top-left-radius:5px;}
.pagin .paginList .paginItem:last-child a{border-bottom-right-radius:5px;border-top-right-radius:5px;}
.pagin .paginList .paginItem.current,.pagin .paginList .paginItem.current a{background:#f5f5f5; cursor:default;color:#737373;}
.pagin .paginList .paginItem:hover{background:#f5f5f5;}
.pagin .paginList .paginItem.more,.pagin .paginList .paginItem.more a:hover{cursor:default;}
.pagin .paginList .paginItem.more:hover{background:#FFF;}
.pagin .paginList .paginItem.more a{color:#737373;}
.pagepre{display:block;background:url(../images/pre.gif) no-repeat center center;width:31px;height:28px;}
.pagenxt{display:block;background:url(../images/next.gif) no-repeat center center;width:31px;height:28px;}

/*表单详情页*/
.form_table2{width:90%;background:#EDF6FA;}
.form_table2 th{background:#d3e9f2;border:1px solid #fff;font-weight:bold;width:95px;text-align:right;line-height:44px;vertical-align:text-top;font-size:12px;padding-right:20px;}
.form_table2 th .redfont{color:red;font-size:12px;line-height:46px;}
.form_table2 td{padding:5px;border:1px solid #fff;line-height:44px;font-size:12px;}
.form_table2 td p{color:#333;font-size:12px;line-height:24px;padding:10px 0;}


/*登录*/
.login_top{height:47px;line-height:47px;background:#096F8A;}
.logintop_l{font-size:12px;background:url(../images/loginsj.png) no-repeat 21px 18px;color:#afc5d2;line-height:47px;text-indent:44px;}
.logintop_r{line-height:47px;padding-right:20px;}
.logintop_r a{color:#afc5d2;font-size:12px;margin-left:20px;}
.login_box{background:url(../images/loginbg3.png) no-repeat center center;height:585px;}
.login_tit{background:url(../images/loginlogo.png) no-repeat center center;height:71px;margin-top:75px;}
.login_con{position:relative;width:692px;height:336px;background:url(../images/logininfo.png) no-repeat;margin:50px auto 0;}
.login_con table{position:absolute;width:px;left:285px;top:80px;}
.login_con td{height:70px;}
.loginuser{background:url(../images/loginuser.png) no-repeat;border:none;font-size:14px;font-weight:bold;height:48px;line-height:48px;padding-left:44px;width:299px;}
.loginpwd{background:url(../images/loginpassword.png) no-repeat;border:none;color:#90a2bc;font-size:14px;height:48px;line-height:48px;padding-left:44px;width:299px;}
.btnlogin{height:35px;width:110px;cursor:pointer;background:#0298BD;border-radius:3px;font-size:14px;vertical-align:middle;color:#fff;font-weight:bold;border:0;}
.login_con td span,.login_con td a{font-size:12px;color:#687f92;}
.login_con td span{margin-left:20px;}
.login_con td span input{margin-right:6px;vertical-align:middle;}
.login_con td a:hover{color:#3186c8;text-decoration:underline;}
.loginbm{color:#fff;height:20px;line-height:20px;text-align:center;font-size:12px;}

/*人员角色*/
.table_juese{width:600px;}
.table_juese th{text-align:center;font-size:12px;font-weight:bold;background:url(../images/th.gif) repeat-x; height:34px; line-height:34px; border-bottom:solid 1px #b6cad2;}
.table_juese td{text-align:center;}
.table_juese select{padding:8px;display:block;margin:14px auto;width:240px;height:260px;border:1px #CED9DF solid;font-size:12px;font-family:Microsoft Yahei, Arial, Helvetica, sans-serif;}
.btn_juese{height:28px;margin-top:14px;width:40px;background:#F0F5F7;border-radius:3px;border:1px solid #B6CAD2;cursor:pointer;color:#93a7af;font-size:13px;text-align:center;}










