@charset "utf-8";
/* CSS Document */
select {padding:3px;border:1px solid #ccc;}

#left{ position: relative;width:200px;float:left;overflow:hidden;height:100%; background:#1F55A7;}
.sdbottomas{ position:absolute; bottom:0px;left:0; text-align:center;  background:#1A488D; font-size:12px; width:100%; height:100%; color:#728BB3;}
.sdbottomasrightas{ position:absolute; bottom:8px; right:0;   text-align:center;  font-size:12px; width:450px; height:30px; color:#728BB3;}
.sdbottomas a:link{ color:#fff;}
.sdbottomas a:visited{ color:#fff;}
.sdbottomas a:active{ color:#BCCEEA;}
.sdbottomas a:hover{ color:#BCCEEA;}
.sdbottomasright{ float:right; width:120px; height:30px;}
.sdbottom{ position: fixed; bottom:0px; text-align:center; line-height:35px; background:#123369; font-size:12px; width:100%; height:35px; color:#728BB3;}
.logosd{ float:left; width:18%; height:100%; border-bottom:solid 5px #0D4A99; }
.logo{ width:100%; height:100%; background:url(../images/localImages/logo.png) center no-repeat;}
.search-panel{border:0}
 
.form-control{border-radius:0;font-size:12px;height:30px;line-height:1.5; text-indent:10px; width:200px}
.form-search input.search-keywords{color:#fff;border:0;background-color:#184282;font-size:12px;height:30px;width:100%;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.form-search input.search-keywords:hover{background:rgba(255,255,255,0.1)}
.form-search input.placeholder{color:#7ea5e1}
.form-search input::-moz-placeholder{color:#7ea5e1}
.form-search input::-webkit-input-placeholder{color:#7ea5e1}
.search-ico{
	width: 22px;
	height: 22px;
  	position: absolute;
	left: 166px;
	top: 58px; 
}
.gdsgy{ font-size:12px;}
.gdsgy img{ vertical-align:middle;}
.gdsgy td{padding:3px;}
.dgfgont{}
.dgfgont a:link{ color:#fff;}
.dgfgont a:visited{ color:#fff;}
.dgfgont a:active{ color:#BCCEEA;}
.dgfgont a:hover{ color:#BCCEEA;}

.adtubiao{ padding-top:35px; padding-left:20px;}
.adtubiao li{ width:18px;  margin-left:12px;height:16px; float:left; text-align:center;}

.personinfo{padding:15px 10px 15px 10px; background:#235FBA;}
.touxian{ float:left; width:70px; height:70px;}
.touxian img{width:70px; height:70px; }
.touxianright{ float:left; width:95px; margin-left:10px;  color:#A3BBDF;}
.touxianright a:Link{ color:#fff;  text-decoration:none;}
.touxianright a:visited{ color:#fff;}
.touxianright a:hover{ color:#A3BBDF;}
.touxianright a:active{ color:#A3BBDF;}
.touxianright h2{ font-size:14px; margin-bottom:10px; font-weight:normal;}
.touxianright .xiaoxi{font-size:12px; margin-top:5px; }
.leftlink{
	overflow:hidden;
	display: none;  
}
.leftlink li{ }
.leftlink li h3{padding-left:10px; }
.leftlink li h3 a { color:#A3BBDF}
.leftlink li h3 a:hover { color:#FFF}
.linktitle{height:32px; color:#fff;font-size:13px;font-weight:normal; line-height:30px; cursor:pointer;border-top:1px solid #184282; }
.linktitle span{display:block; float:left; margin-left:14px;_margin-left:7px;margin-top:8px; margin-right:7px;}
.leftlink ol{list-style:none;padding-top:5px;border-top:1px solid #184282; padding-bottom:8px; overflow:hidden;}
.leftlink ol li{list-style:none;color:#A3BBDF; font-size:13px; margin-top:10px}
.leftlink ol li a{color:#A3BBDF;text-decoration:none;padding-left:40px;display:block}
.leftlink ol li a:hover{display:block; color:#fff; background:#1F55A7;  text-decoration:none;   }
.leftlink ol li a.current{display:block;color:#fff; background:#184282;   }
.leftlink ol li a img { display:block; float:left; margin-top:1px}
.leftlink ol li .interval{ width:1px; margin:0;height:59px; background:url(../images/localImages/interval.jpg) no-repeat 0 4px;}
.linkOl2 { display: none;margin-left:15px}
.leftlink ol li span{padding-right:8px;}
.linkOl {
	display: none;
}
#main{margin-left:200px;position:relative; height:100%;}
#one{min-width:100%; height:100%;border-bottom:solid 5px #0D4A99; background:url(../images/localImages/dgbg.jpg) top repeat-x; }
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav>li>a:hover,.nav>li>a:focus{background-color:transparent}
.nav>li.hide{display:none}

.navigation{height:100%; float:left;width:68%;}
.navigation .tenant{line-height:54px;float:right;margin:0 10px 0 0;color:#999;max-width:168px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.navigation .btns{margin:11px;position:absolute;right:0;z-index:100}
.navigation .btns .btn{margin-left:3px}
.navigation .qq-group-link{position:relative;display:inline-block;text-align:center;margin-left:3px}
.navigation .qq-group-link .btn{margin-left:0}
.navigation .top-dropbox:before,.navigation .top-dropbox:after{border-left:7px solid rgba(0,0,0,0);border-right:7px solid rgba(0,0,0,0);border-bottom:7px solid #ddd;top:-7px;left:64px;content:"";position:absolute}.navigation .top-dropbox:after{border-bottom:7px solid #fff;top:-5px;content:"";position:absolute}.navigation .top-dropbox{padding:15px;background:#fff;border:1px solid #ddd;box-shadow:0 1px 6px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.15);width:105px;top:30px;position:absolute;color:#666;left:-45px;display:none;opacity:1;-webkit-transition:opacity .25 ease;-moz-transition:opacity .25 ease;-ms-transition:opacity .25 ease;transition:opacity .25 ease}
.navigation .top-dropbox label{font-size:14px;font-weight:700;color:#555}
.navigation .qq-group-link:hover .top-dropbox{display:block;opacity:1}
.navigation .switcher{height:30px;margin:12px 10px 0 0;padding:0 10px;float:left;border-right:solid 1px #e5e5e5}
.navigation .switcher i{font-size:30px;display:inline-block;padding:0 5px;color:#ccc;cursor:pointer}
.navigation .switcher i:hover{color:#a0a0a0}
.navigation .nav-wrap{height:48px;overflow:hidden;position:absolute;top:0;left:52px;}
.navigation .nav{ position:relative;padding:5px 10px 0 30px;overflow:hidden;margin:0; }
.navigation .nav>li{margin:6px 2px;width:100px}
.tongxunlu{ float:right;  margin-top:15px; margin-right:15px; position:relative;  width:70px;height:40px;  }
.navigation .nav>li>a{padding:0;height:32px;line-height:32px;font-weight:bold;font-size:14px; text-decoration:none;transition:color linear .2s;-webkit-transition:color linear .2s;-moz-transition:color linear .2s;-ms-transition:color linear .2s}
.navigation .nav>li>a i{display:inline-block;float:left;height:32px;width:32px;margin:0 auto;background:url("../images/localImages/icon-nav.png") no-repeat;transition:background linear .2s;-webkit-transition:background linear .2s;-moz-transition:background linear .2s;-ms-transition:background linear .2s}
.navigation .nav>li>a i.task{background-position:0 0}.navigation .nav>li>a i.blog{background-position:-32px 0}
.navigation .nav>li>a i.document{background-position:-64px 0}
.navigation .nav>li>a i.customer{background-position:-96px 0}
.navigation .nav>li>a i.setting{background-position:-128px 0}.navigation .nav>li>a i.goal{background-position:-160px 0}.navigation .nav>li>a i.portal{background-position:-192px 0}.navigation .nav>li>a i.calendar{background-position:-224px 0}.navigation .nav>li>a i.reports{background-position:-256px 0}.navigation .nav>li>a.active i.task,.navigation .nav>li>a:hover i.task{background-position:0 -32px}.navigation .nav>li>a.active i.blog,.navigation .nav>li>a:hover i.blog{background-position:-32px -32px}
.navigation .nav>li>a.active i.document,.navigation .nav>li>a:hover i.document{background-position:-64px -32px}
.navigation .nav>li>a.active i.customer,.navigation .nav>li>a:hover i.customer{background-position:-96px -32px}
.navigation .nav>li>a.active i.setting,.navigation .nav>li>a:hover i.setting{background-position:-128px -32px}
.navigation .nav>li>a.active i.goal,.navigation .nav>li>a:hover i.goal{background-position:-160px -32px}
.navigation .nav>li>a.active i.portal,.navigation .nav>li>a:hover i.portal{background-position:-192px -32px}
.navigation .nav>li>a.active i.calendar,.navigation .nav>li>a:hover i.calendar{background-position:-224px -32px}
.navigation .nav>li>a.active i.reports,.navigation .nav>li>a:hover i.reports{background-position:-256px -32px}
.navigation .nav>li>a{color:#235fba}.navigation .nav>li>a:hover{color:#cc2f2b}
.navigation .nav>li>a.active{color:#cc2f2b}
.navigation .nav .nav-switcher{border:1px solid #ccc;border-radius:50%;height:20px;width:20px;line-height:20px;position:absolute;right:40px;text-align:center;top:15px}
.navigation .nav .nav-switcher:after{color:#999;content:"更多";left:17px;top:1px;position:absolute;width:40px}
.navigation .nav .nav-switcher.active:after,.navigation .nav .nav-switcher:hover:after{color:#235fba}
.navigation .nav .nav-switcher .caret{vertical-align:middle;border-top-color:#ccc;border-width:6px 4px 0 4px}
.navigation .nav .nav-switcher:hover,.navigation .nav .nav-switcher.active{border-color:#235fba}
.navigation .nav .nav-switcher:hover .caret{border-top-color:#235fba}
.navigation .nav .nav-switcher.active .caret{border-left:4px solid rgba(0,0,0,0);border-right:4px solid rgba(0,0,0,0);border-bottom:6px solid #235fba;border-top:0;margin-top:-3px}
.navigation .nav-slide{-webkit-box-shadow:0 2px 1px rgba(0,0,0,.3);box-shadow:0 2px 2px rgba(0,0,0,.3);z-index:100} 
.tuichua{ float:right;height:100%;width:14%; background:url(../images/localImages/icond.png) no-repeat;}


.main-wrap{  width:100%;   background:#eee;}
.main-wrapleft{ float:left; width:85%;min-height:100%;height:auto!important;height:100%; }
.rapleft{ float:left; width:63% }
.rapright{ float:left; width:36%;  }
.main-wrapright{   width:165px; height:100%;   background:#fff;}
.dsgcont{ padding:10px 10px 10px 10px;  height:100%;   border-left:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4; }

.sfdl{
	/* [disabled]float:left; */
	padding: 10px;
	 
}
.sfdlright{  padding:10px 10px 10px 0px; }


.touxiangaa{ margin-top:15px;margin-left:15px;}
.touxiangaa li{ height:30px; line-height:30px;}

.mods{ }
.mods .title{width:100%;background:#fff;border-top:1px solid #d4d4d4;border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4; height:35px;}
.mods .title h3{ float:left;font-size:14px; margin-left:10px; text-align:center; width:100px; color:#4C8FCB; height:34px; line-height:34px; border-bottom:2px solid #4C8FBD;}
.mods .content{background:#fff;padding:10px;border:1px solid #d4d4d4;}
.mods .ascontent{background:#fff;padding:15px;border:1px solid #d4d4d4;height:100%}

.mubiao{ font-size:12px; width:180px; text-align:right; float:right; margin-right:10px;height:34px; line-height:34px;}
.mubiao a:link{color:#4C8FCB; font-size:12px; text-decoration:none;}
.mubiao a:visited{color:#4C8FCB;text-decoration:none;}
.mubiao a:hover{color:#666;text-decoration:none;}
.mubiao a:active{color:#666;text-decoration:none;}

 #gerenyingyong{padding-top:10px; }
#gerenyingyong li{ display:block; position:relative;float:left; width:120px; margin-bottom:10px;   }
#gerenyingyong li a{ display:block;cursor:pointer;text-decoration:none;   }
#gerenyingyong li  img {  width:82px; height:82px; background:#F9F9F9; padding:5px; border:1px solid #E6E6E6; margin-left:10px; }
.sfie{
	position:absolute;
	height:23px;
	line-height:23px;
	z-index:1000;
	left: 15px;width:82px; text-align:center;
	top: 58px; color:#fff;
}
.sfie a:link{color:#fff;}
.sfie a:visited{color:#fff;}
.sfie a:hover{color:#999;}
.sfie a:active{color:#999;}
.juli{ margin-top:10px;}
checkbox{ vertical-align:middle;}
.renwulist{ }
.renwulist li{ clear:both; font-size:12px; border-bottom:1px solid #efefef;  }
.renwulist li a{padding:3px 10px; color:#333; display:block; background:#fff;  line-height:25px; }
.renwulist li a:hover{padding:3px 10px;color:#333; display:block; background:#F5F5F5;  line-height:25px;}
.renwulist li a:hover{ color:#235FBA;}

.sn-link{width:24px;height:32px;text-align:center;display:inline-block}
.rigdate{ float:right; width:80px; color:#666; font-size:12px; text-align:right;}

.xiashu{float:left; width:100px; height:34px; margin-left:20px; line-height:37px;}
.xiashu a:link{color:#999;}
.xiashu a:visited{color:#999;}
.xiashu a:hover{color:#444;}
.xiashu a:active{color:#444}
.geg{ height:35px; line-height:35px; color:#4C8FCB; font-size:16px; text-indent:20px;}
.grlit{padding:10px; }
.dgtable{background:#fff;border-top:3px solid #235FBA;border-left:1px solid #d4d4d4;}
.dgtable a:link{color:#4C8FCB;}
.dgtable a:visited{color:#4C8FCB;}
.dgtable a:hover{color:#444;}
.dgtable a:active{color:#444}
.clyellow{ background:#efefef;}
.dgtable th{font-size:14px; padding:8px 3px;border-right:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4; text-align:center; font-weight:normal;  background:#E5F0F9;}
.dgtable td{font-size:13px;border-right:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;padding:7px 3px;}
.dsdgy{}
.dsdgy td{padding:4px 5px;}
.dotitle{  color:#498FC0;  height:38px; line-height:38px; margin-bottom:10px; border-bottom:1px solid #efefef;}
.dotitle h3{ float:left; font-size:14px; color:#498FC0; }
.qltable{ clear:both;   table-layout: fixed}
.qltable td{ padding:0 3px;height:36px; }
/* 所有下拉框长度调整 2015年7月30日15:55:10 liuyx */
.qltable select{ height:27px; border:1px solid #ccc; width:70%; background:url(../images/localImages/dfg.jpg) top repeat-x;}
.asinput{ height:27px; border:1px solid #ccc; width:70%; background:url(../images/localImages/dfg.jpg) top repeat-x; line-height:27px}
.aslonginput{ height:27px;line-height:20px; border:1px solid #ccc; width:88%; background:url(../images/localImages/dfg-2.jpg) top repeat;}
.bsinput{ height:27px; border:1px solid #ccc; width:30%; background:url(../images/localImages/dfg.jpg) top repeat-x;}
.asselect{ padding:3px;width:50%; }
.bsselect{ padding:3px;width:30%; }
.starColor{color: red;margin-left:6px;}
.dgei{ float:right;}
.yincangdiv{padding:10px;}
.yincangdiv li{ height:25px; line-height:25px; text-indent:10px;}
.annexListDIV ul{ list-style:none;}
.annexListDIV ul li{ float:left; margin-right:30px; line-height:26px;}
.annexListDIV ul li a{color:#000;}
.annexListDIV2 ul{ list-style:none;}
.annexListDIV2 ul li{ float:left; margin-right:30px; line-height:26px;}
.annexListDIV2 ul li a{color:#000;}
.task-list{min-height:5px}
.task-list li.notask{padding-left:10px;color:#ccc}
.task-list li.task .cal,.task-list li.task .status{width:20px;height:30px;font-size:14px;color:#bcbcbc;cursor:pointer}
.task-list li.task .status:hover{color:#08c}
.task-list li.task .cal:hover{color:#79b58b}
.task-list li.other{cursor:default;font-weight:bold}
.task-list li.other:hover{background-color:#fff}
.task-list li.task-placeholder{border:dashed 1px #666}
.center-list{margin:0;padding:0}
.center-list li{margin:0;padding:0;list-style:none;height:33px;line-height:32px;border-bottom:solid 1px #efefef;cursor:pointer;position:relative}
.center-list li.active,.center-list li.active:hover,.center-list li.active:hover input,.center-list li.active input{background-color:#f5f5f5}
.center-list li.unread,.center-list li.unread input{background-color:#fff3f3}
.center-list li.newConment,.center-list li.newConment input{background-color:#effeec;border-bottom:solid 1px #e2e2e2}
.center-list li.selected,.center-list li.selected input{background-color:#ebf1de;border-bottom:solid 1px #e2e2e2}
.center-list li:hover,.center-list li:hover input{background-color:#f5f5f5}
.center-list li>span{margin:0;padding:0;text-align:center;float:left}
.center-list li .sn-tag,.center-list li .sn,.center-list li .sn-link,.center-list li .checkbox{width:24px;height:32px;text-align:center;display:inline-block}
.center-list li .module{color:#999;margin-right:2px}
.center-list li.selected .checkbox{display:inline-block}
.center-list li.selected .sn{display:none}
.center-list li:hover .sn{display:none}
.center-list li:hover .checkbox{display:inline-block}
.center-list li.editable .sn{cursor:move}
.center-list li .title{text-align:left;margin:0;padding:6px 0 6px 2px;line-height:20px;height:32px;border:0;background-color:transparent;width:52%;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#000}.finished-line{text-decoration:line-through;color:#999!important}.right-pane textarea.finished-line{text-decoration:line-through;color:gray}@media(min-width:1260px){.center-list li .title{width:60%}}@media(min-width:1360px){.center-list li .title{width:63%}}@media(min-width:1440px){.center-list li .title{width:65%}}.center-list li .right,.center-list li .shortcut{height:32px;float:right;display:inline-block}.center-list li .shortcut{background:#d5d5d5;color:#717171;padding:0;display:none;position:absolute;right:0}.center-list li .shortcut>span{padding:0 10px;float:left}.center-list li .shortcut span:hover{color:#141414;background:#cdcdcd}.center-list li .shortcut a{padding:0 10px;color:#717171}.center-list li .shortcut a:hover{color:#141414;background:#cdcdcd}.center-list li .shortcut span i{font-size:14px;float:left;margin:9px 2px 0;display:inline-block;width:14px}
.center-list li:hover .shortcut{display:inline-block}
.center-list li .right{position:absolute;top:0;right:0}
.center-list li:hover .right{display:none}
.center-list li .right>span{float:left}
.center-list li .user,.center-list li .date,.center-list li .telephone,.center-list li .comment-count,.center-list li .icon{height:32px;margin-right:8px;color:#999}
.center-list li .user{max-width:80px}
/*阴影*/
#jd_shadow{z-index:999;position:absolute;background-color:#000000;filter:alpha(opacity=25);-moz-opacity:0.25;opacity:0.25;}
#jd_dialog{z-index:1000;position:absolute;}
#jd_dialog_s{position:absolute;background-color:#000000;filter:alpha(opacity=40);-moz-opacity:0.4;opacity:0.4;}
#jd_dialog_m{position:absolute;}
#jd_dialog_m_h{float:left;width:100%;height:50px;cursor:move;}
#jd_dialog_m_h_l{float:left;color:black;padding-top:11px;padding-left:19px;font-size:20px;color:#333;}
#jd_dialog_m_h_r{float:right;color:black;padding-top:13px;padding-right:13px;cursor:pointer;}
#jd_dialog_m_b{float:left;}
#jd_dialog_m_b_1{position:absolute;alpha(opacity=0);-moz-opacity:0.0;opacity:0.0;z-index:900;}
#jd_dialog_m_b_2{position:absolute;z-index:899;}
#jd_dialog_m_t{float:left;width:100%;height:40px;padding-top:10px;text-align:center;}
.jd_dialog_m_t_s{padding-left:10px;}

.ghr{ background:#fff; padding:0 10px 10px 10px;}
.mgongcheng_popup_pic{height:24px;width:24px;display:block;background:url(../images/localImages/mpopup_close2.jpg) no-repeat;border:0;}
.mgongcheng_popup_pic:hover{background:url(../images/localImages/mpopup_close.jpg) no-repeat;}
.mgongcheng_detail_artical{overflow-y:auto;padding:16px 16px 16px 16px; background:#fff;   }
.mgongcheng_detail_artical p{font-size:14px;color:#333;line-height:30px;}

.sdgleft{ float:left; width:81%;}
.sdgright{ float:right; width:195px; background:#efefef;}
.n_main_r_center { width:200px; margin:0 auto;}
.n_main_r_title{ height:40px; border-bottom:5px #1C56AD solid; margin-top:20px;}
.n_main_r_title p{ float:left; font-family:'微软雅黑'; font-size:16px; font-weight:bold; line-height:40px;}
.n_main_r_title img{ float:left; margin:15px 0px 0px 13px;}
.xj_menu{ padding:10px; height:480px; overflow:scroll}
.xj_menu > ul > li { display:block;cursor:pointer;text-decoration:none; border-bottom:1px solid #ccc;  line-height:32px; text-indent:20px; font-size:14px; color:#333; font-weight:500; background-image:url(../images/localImages/list_off.png); background-repeat:no-repeat; background-position:5px 12px; background-size:10px 10px}
.xj_menu > ul > li.active { background-image:url(../images/localImages/list_on.png); background-repeat:no-repeat; background-position:5px 12px; background-size:10px 10px}
.xj_menu > ul > li > a { color:#333333}
.xj_menu > ul > li > a.on span{ color:#333; background-color:#ccc}
.xj_ListTitlePanel:hover { color:#006CB4;}
.xj_menu > ul > li > ul { display:none; text-indent:20px}
.xj_menu > ul > li > ul > li a { color:#333333; display:block; width:100%}
.xj_menu > ul > li > ul > li a:hover, .xj_menu > ul > li > ul > li > a.on span,.xj_menu > ul > li > ul > li a:hover span { color:#333; background-color:#ccc}
.xj_menu li a span.dh{background:url("../images/localImages/green.png") 135px center no-repeat;}
.xj_menu li a span.ch{background:url("../images/localImages/red.png") 135px center no-repeat;}
.xj_menu li a span{ display:block; font-size:14px;color:#333;text-decoration:none;}
.nav_on{ color:#006CB4;}
.xj_menuimg { float:right; margin-top:8px; margin-right:5px}
/*#asnav{ padding:10px; }
#asnav li{  }
#asnav li a{ display:block;cursor:pointer;text-decoration:none; border-bottom:1px solid #ccc;  line-height:32px;}
#asnav li a span{ display:block; text-indent: 10px;   font-size:14px;color:#333;text-decoration:none;}
#asnav li a span.dh{background:url("../images/localImages/green.png") 110px center no-repeat;}
#asnav li a span.ch{background:url("../images/localImages/red.png") 110px center no-repeat;}
#asnav li a:hover span.dh{background:#fff url("../images/localImages/green.png") 110px center no-repeat; color:#006CB4;}
#asnav li a:hover span.ch{background:#fff url("../images/localImages/red.png") 110px center no-repeat; color:#006CB4;}
#asnav li .nav_on{background:#fff ; color:#006CB4;}
#adnav li .nav_on span{background:#fff ;color:#006CB4;text-decoration:none ; font-weight:bold;padding-left:22px; }*/
.sggtitle{ font-size:14px; height:32px; text-indent:10px; line-height:32px;margin-left:10px; margin-right:10px;border-bottom:3px solid #1C56AD;}
.fgfa a:link{ color:#95A7C6;}
.fgfa a:visited{ color:#95A7C6;}
.fgfa a:hover{ color:#fff;}
.fgfa a:active{ color:#fff;}


.duanxin{
	position: absolute;
	z-index: 999;
	background: #fff;
	width: 200px;
	height: 250px;
	border: 1px solid #ccc;
	right: 0;
	top: 39px;
}
#tags {  height:34px; line-height:34px;font-size:12px; background:url(../images/localImages/tags.gif) top repeat-x;}
#tags LI {width:80px; FLOAT: left; LIST-STYLE-TYPE: none;  text-align:center; margin-left:2px;}
#tags LI A {font-size:12px;width:80px; text-align:center; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px; TEXT-DECORATION: none;}
#tags LI.emptyTag {BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px; text-align:center;}
#tags LI.selectTag {POSITION: relative;  background:url(../images/localImages/cct_tab01_on.gif) center no-repeat; color:#333; height:34px; line-height:36px;text-align:center; font-weight:bold;font-size:12px;}
#tags LI.selectTag A {background:url(../images/localImages/cct_tab01_ov.gif) no-repeat; COLOR: #333;  text-align:center;}

#tags LI.selectTagNo { color:#333; height:34px; line-height:36px;text-align:center; font-weight:bold;font-size:12px; }
#tags LI.selectTagNo A { COLOR: #333;  text-align:center;}
.newcontent{ clear:both;  }
 
 .guanbi{ float:right; width:16px; margin-top:6px; margin-right:5px; height:16px; }
.slidingList_none{ display:none;}
.setw{ text-align:center; margin-top:10px;}
.dgtt{padding:10px;}

.dghh{padding-top:10px;padding-left:10px;}
.dgegcx{padding:10px; width:95%; text-align:right; border-bottom:1px solid #efefef; margin-bottom:10px;}

.sdliucheng{position:relative;  width:100%;   height:30px; }
.sdgg{float:left;height:30px;  width:50px;background:url(../images/localImages/fdgh.gif) center repeat-x;}
.tongguo{   float:left;display:block;width:153px; height:30px; background:url(../images/localImages/lca.png) no-repeat; font-size:14px; color:#fff; line-height:30px; text-align:center;}
.tongguo a:link{color:#fff;}
.tongguo a:visited{color:#fff;}
.tongguo a:active{color:#9DB4D8;}
.tongguo a:hover{color:#9DB4D8;}


.weishenhe{float:left;  display:block;  width:153px; height:30px; background:url(../images/localImages/lcb.png) no-repeat; line-height:30px; text-align:center;}
.weishenhe a:link{color:#1F55A7;}
.weishenhe a:visited{color:#1F55A7;}
.weishenhe a:active{color:#999;}
.weishenhe a:hover{color:#999;}
.jiantoua{
	float:left; 
	width: 21px;
	height: 30px;
	background: url(../images/localImages/jiantou.png ) center no-repeat;
	margin-top: -1px;
}




.yuanquana{
	position: absolute;
	width: 16px;
	height: 16px;
	background: url(../images/localImages/yuanquana.png);
	top: 6px;
}
.yuanquanb{
	float:left;
	width: 16px;
	height: 16px; margin-top:7px;
	background: url(../images/localImages/yuanquana.png);
	
}
/*20150709*/
.pages_p a{color:#333;}
.pages_p a:hover{color:#4C8FCB;}
.pages_p a.on{color:red;font-size:20px;font-family:Arial, Helvetica, sans-serif;}



.ztreeDiv { list-style:none; width:300px; height:350px; overflow:scroll; margin-left:3px; margin-top:-4px; position:absolute; top:37px; left:0; background-color:#f3f4f5; z-index:999; border:#cdcdcd solid 1px; padding:5px 0px 5px 10px;}
.xj_checkbox { list-style:none; width:300px; height:350px; overflow:scroll; margin-left:3px; margin-top:-3px; position:absolute; top:37px; left:0; background:#fff; z-index:999; border:#cdcdcd solid 1px; padding:5px 0px 5px 10px;}
.xj_checkbox li { font-size:12px; line-height:20px; width:100%; float:left}
.xj_checkbox li a { display:block; float:left; margin-right:5px; width:11px; height:11px; margin-top:6px}
.xj_checkbox li a.off { background:url(../images/localImages/off.png) no-repeat;}
.xj_checkbox li a.on { background:url(../images/localImages/on.png) no-repeat;}
.xj_checkbox li a.null { background:url(../images/localImages/null.png) no-repeat;}
.xj_checkbox li input { display:block; float:left; margin-top:4px; margin-right:3px}
.xj_checkbox li ul { margin-left:20px}

/* 下拉多选框样式 */
.multcList {
	width: 100px;
	height: 100px;
	overflow: auto;
	position: absolute;
	border: 1px solid #617775;
	display: none;
	background: none repeat scroll 0 0 white;/* #F0F6E4; */
	float: left;
	z-index: 1000000;
}
.multcList ul li{
    margin:0px;
	padding:2px;
    font-family:"宋体";
    font-size:12px;
    height:15px;
}
.multcList ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.bar2{ }
.bar2 ul{ list-style:none; width:100%; background:#fff; border:1px solid #d4d4d4; height:35px; padding:0}
.bar2 li{ float:left;font-size:14px; margin-left:10px; text-align:center; width:100px; color:#666; height:34px; line-height:34px; cursor:pointer; border-bottom:2px solid #d4d4d4}
.bar2 li.on{ color:#4C8FCB; border-bottom:2px solid #4C8FBD; font-weight:bold; cursor:default}

/* 【请等待】浮动层样式 */
.datagrid-mask{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ccc;
	opacity:0.3;
	filter:alpha(opacity=30);
	display:none;
}
.datagrid-mask-msg{
	position:absolute;
	top:50%;
	margin-top:-20px;
	width:auto;
	height:16px;
	padding:12px 5px 10px 30px;
	background:#fff url('../images/localImages/pagination_loading.gif') no-repeat scroll 5px 10px;
	border:2px solid #6593CF;
	color:#222;
	display:none;
}